#information-section {
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 63vh;
}

#information-section-container {
    width: 60%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: $primary;
    border-radius: 1rem;
}

#main-information-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}

#identity-information-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr repeat(2, 1fr);
}

#name-text-container {
    transform: translateY(20%);
    margin-left: 3%;
}

#name-text {
    margin: 0;
    width: fit-content;
    height: fit-content;
    font-family: $text-font;
    color: $text-color;
    text-align: center;
    font-size: 2rem;
}

#profile-url-linker {
    text-decoration: none;
}

#description-text-container {
    transform: translateY(25%);
    margin-left: 3%;
}

#description-text {
    margin: 0;
    width: fit-content;
    height: fit-content;
    font-family: $text-font;
    color: $text-color;
    text-align: center;
    font-size: 1.5rem;
}

#creation-date-text-container {
    transform: translateY(25%);
    margin-left: 3%;
}

#creation-date-text {
    margin: 0;
    width: fit-content;
    height: fit-content;
    font-family: $text-font;
    color: $text-color;
    text-align: center;
    font-size: 1.5rem;
}

#image-section {
    display: flex;
    justify-content: center;
}

#image-container {
    margin: auto;
    width: 11.5vw;
    height: 20vh;
}

#image {
    width: 100%;
    height: 100%;
    border-radius: 0 1rem 0 0;
}
