#search-section {
  opacity: 0;
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: 10vh;
}

#search-container {
  width: 100%;
  height: 10vh;
}

#search-input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#search-input {
  position: absolute;
  top: 15%;
  width: 75%;
  box-sizing: border-box;
  border: 0.2rem solid #ccc;
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: white;
  background-image: url("../media/input-icon.png");
  background-position: 1% 50%;
  background-repeat: no-repeat;
  padding: 1vw 2vh 1vw 6vh;
}

#search-input:focus {
  outline: 0 !important;
}
