#user-search-section {
    opacity: 0;
    position: absolute;
    top: 30vh;
    right: 110%;
    width: 100vw;
    height: 10vh;
}

#user-search-container {
    width: 100%;
    height: 10vh;
}

#user-search-input-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#user-search-input {
    position: absolute;
    top: 15%;
    width: 75%;
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    border-radius: 0.2rem;
    font-size: 1rem;
    background-color: white;
    background-image: url('../media/input-icon.png');
    background-position: 1% 50%;
    background-repeat: no-repeat;
    padding: 1vw 2vh 1vw 6vh;
}

#user-search-input:focus {
    outline: 0 !important;
}

#user-filter-section {
    opacity: 0;
    position: absolute;
    top: 32vh;
    left: -50vw;
    width: 50vw;
    height: 65vh;
}

#user-filter-container {
    width: 100%;
    height: 100%;
}

#user-filter-panel {
    width: 100%;
    height: 100%;
    background-color: $primary;
    border-radius: 0 1rem 1rem 0;
}