#user-search-section {
  opacity: 0;
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: 10vh;
}

#user-search-container {
  width: 100%;
  height: 10vh;
}

#user-search-input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#user-search-input {
  position: absolute;
  top: 15%;
  width: 75%;
  box-sizing: border-box;
  border: 0.2rem solid #ccc;
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: white;
  background-image: url("../media/input-icon.png");
  background-position: 1% 50%;
  background-repeat: no-repeat;
  padding: 1vw 2vh 1vw 6vh;
}

#user-search-input:focus {
  outline: 0 !important;
}

#user-filter-section {
  opacity: 0;
  position: absolute;
  top: 32vh;
  left: -20vw;
  width: 20vw;
  height: 65vh;
}

#user-filter-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 100%;
  background-color: $primary-dark;
  border-radius: 1rem;
}

#reset-user-filters-button-container {
  display: flex;
  justify-content: center;
}

#reset-user-filters-button {
  margin: auto;
  width: 80%;
  height: 50%;
  background-color: $primary;
  border: none;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 1rem;
}

#reset-user-filters-button:hover {
  box-shadow: 0 0.75vh black;
  transform: translateY(-0.75vh);
}

#reset-user-filters-button:active {
  box-shadow: 0 0.5vh black;
  transform: translateY(-0.5vh);
}

#reset-user-filters-button-text-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#reset-user-filters-button-text {
  transform: translateY(50%);
  margin: 0;
  width: fit-content;
  height: fit-content;
  font-family: $text-font;
  color: $text-color;
  text-align: center;
  font-size: 1.25rem;
}

.user-filter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.user-follower-filter-option {
  transition: 0.2s;
}

.user-following-filter-option {
  transition: 0.2s;
}

.user-repos-filter-option {
  transition: 0.2s;
}

.user-gists-filter-option {
  transition: 0.2s;
}

.user-follower-filter-option:hover {
  background-color: $primary;
}

.user-following-filter-option:hover {
  background-color: $primary;
}

.user-repos-filter-option:hover {
  background-color: $primary;
}

#user-gists-filter-option-bl {
  border-radius: 0 0 0 1rem;
}

#user-gists-filter-option-br {
  border-radius: 0 0 1rem 0;
}

.user-gists-filter-option:hover {
  background-color: $primary;
}

#user-filter-tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 20vw;
  background-color: $primary-dark;
  width: 15vw;
  height: 13vh;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 10% 55%, 0 50%, 10% 45%);
  z-index: 999;
}
