@import "_variables.scss";
@import "_header.scss";
@import "_navigation.scss";
@import "_search-bar.scss";
@import "_information.scss";
@import "_api-showcase.scss";
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    background-color: #171c24;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}
