#page-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4fr 1.5fr;
      grid-template-rows: 4fr 1.5fr;
  position: absolute;
  top: 10%;
  width: 100vw;
  height: 27.5vh;
}

#title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#title-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#title-text {
  -webkit-transform: translateY(27.5%);
          transform: translateY(27.5%);
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: Ubuntu, sans-serif;
  color: #E0FBFC;
  text-align: center;
  font-size: 5.427rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-shadow: 0 0.75vh black;
  cursor: pointer;
}

#subtitle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#subtitle-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#subtitle-text {
  -webkit-transform: translateY(27.5%);
          transform: translateY(27.5%);
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: Ubuntu, sans-serif;
  color: #E0FBFC;
  text-align: center;
  font-size: 2rem;
  cursor: context-menu;
}

#navigation-section {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  top: 50%;
  width: 100vw;
  height: 20vh;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#nav-bar-container {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 80%;
  height: 40%;
  left: 10%;
  top: 5%;
}

.nav-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #3D5A80;
  border: none;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

#users-nav-button {
  border-radius: 2rem 0 0 2rem;
}

#code-nav-button {
  border-radius: 0 2rem 2rem 0;
}

.nav-button:hover {
  background-color: #2b3a53;
}

.nav-button:focus {
  outline: 0 !important;
}

.nav-button-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.nav-button-text {
  -webkit-transform: translateY(27.5%);
          transform: translateY(27.5%);
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: Ubuntu, sans-serif;
  color: #E0FBFC;
  text-align: center;
  font-size: 2rem;
}

#tooltip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#tooltip-text-container {
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 35%;
  background-color: #668292;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  border-radius: 0.25rem;
  border: 0.5vh solid #3D5A80;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#tooltip-text {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: Ubuntu, sans-serif;
  color: #E0FBFC;
  text-align: center;
  font-size: 1.5rem;
}

#user-search-section {
  opacity: 0;
  position: absolute;
  top: 30vh;
  right: 110%;
  width: 100vw;
  height: 10vh;
}

#user-search-container {
  width: 100%;
  height: 10vh;
}

#user-search-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#user-search-input {
  position: absolute;
  top: 15%;
  width: 75%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.2rem solid #ccc;
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: white;
  background-image: url("../media/input-icon.png");
  background-position: 1% 50%;
  background-repeat: no-repeat;
  padding: 1vw 2vh 1vw 6vh;
}

#user-search-input:focus {
  outline: 0 !important;
}

#user-filter-section {
  opacity: 0;
  position: absolute;
  top: 32vh;
  left: -50vw;
  width: 50vw;
  height: 65vh;
}

#user-filter-container {
  width: 100%;
  height: 100%;
}

#user-filter-panel {
  width: 100%;
  height: 100%;
  background-color: #3D5A80;
  border-radius: 0 1rem 1rem 0;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  background-color: #171c24;
}

body::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=index.css.map */