@import "_variables.scss";
@import "_header.scss";
@import "_navigation.scss";
@import "_user-nav.scss";
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    background-color: #171c24;
}

body::-webkit-scrollbar {
    display: none;
}